.h{
    color: rgb(232, 237, 237);
    text-align: center;
    background-color:red;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.h1{
    font-size: 3rem;
    text-align: right;
    margin-right: 50px;
    text-transform: uppercase;
    border: 5px solid black;
}
.h2{
    background-color:black;
    color: wheat;
    margin: 100px 0;
    padding: 50px 200px;
}
.paragraph{
    background-color: antiquewhite;
    color: blueviolet;
    font-size: 30px;
}